---
 const personalImageAlt = "Francis Cirmi"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Me llamo <strong>Francis Cirmi</strong>, tengo 25 años y soy de Zárate, Buenos Aires.
    </p>

    <p>
    <strong>Mi interés por el 'Desarrollo Web' comenzó en 2023</strong> mientras estudiaba en la universidad, momento en el que decidí complementar mis estudios formales con cursos y aprendizaje autodidacta en esta área.
    </p>

    <p>
      Recientemente finalicé un curso de Backend para ampliar mis conocimiento en ese ámbito, pero actualmente <strong>mi principal objetivo es mejorar mis habilidades en Frontend.</strong> Estoy enfocado en fortalecer mis conocimientos en React y comprometido a profundizar en este ámbito para lanzarme al mercado laboral con confianza.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>